/nbproject/private/
/cache
/nbproject
/application/modules/cms/_bak
/crud
/.idea
/Doc
/uploads/student
/uploads/file
/uploads/files
/uploads/certificate
/uploads/qbank
/__tmp
/application/logs/mail_log.txt
/rnd.php
/Samson Stripe.txt
/db_cache
/application/config/database.php
/application/config/config.php
/.htaccess
/temp/sessions
/temp
/application/logs/sms_log.txt
/composer.lock
/system_v7.4
/vendor_82
/assets/lib/plugins/ckeditor5/classic/node_modules
/assets/lib/plugins/ckeditor5/classic/tests
/assets/lib/plugins/ckeditor5/inline/node_modules
/assets/lib/plugins/ckeditor5/inline/tests
/DB/samson_prap_live.sql.zip
/DB/samson_prap_live.sql
/application/config/config.server.php
/application/third_party/stripe.old
/application/config/config.local.php
.vscode
