.admin-menu {
    font-size: 13px;
}

.admin-menu .navbar {
    min-height: 30px;
    background-color: #000000;
    border: 0;
    margin: 0;
    border-radius: 0;
}

.admin-menu .navbar-brand {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    color: #ffffff;
}

.admin-menu .navbar-default .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#inputPassword,
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a.js_forgot {
    font-size: 13px;
}