.sidebar-column,
.content-column {

}
.content-box {
    padding: 20px;
    clear: both;
}

.sidebar-column {
    padding-top: 15px;
}
.content-column {
    background: #fbfbfb;    
    min-height: 100vh;
    box-shadow: inset 3px 3px 3px #CCC;
}

.profile-account {
    background-color: #f1f1f2;
    padding-top: 0px;
}

.sidebar{
    background-color: #FFF;
}
.sidebar li {
    font-size: 9pt;
}
.sidebar li.logout {
    background-color: #593a44;
}
.sidebar li a {
    color: #000;
    padding: 7px 10px;
    display: block;
    text-decoration: none;
    position: relative;
    font-size: 12pt;
    font-weight: 500;
}
.sidebar li a:hover,
.sidebar li.active a {
    background-color: #EEE;
    color: #555;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.myaccounttitle span.pull-right {
    font-size: 14px;
    padding-top: 20px;
}

.unsubscribe_area {
    text-align: center;
    padding-top: 50px;
}

.subscriptionbox .buynowsidebar {
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.myaccounttitle p {
    color: #33312f;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}
.profile-account .card-header {
    background-color: #f9f5ef;
}

.page-title {
    padding-top:0 !important;
}
.page-title>h3 {    
    border-bottom: 1px solid #4d7092;
    padding-bottom: 9px;
    display: inline-block;
    padding-right: 100px;
    margin-bottom: 30px;
    margin-top: 0;
}

.bg {
    background: #FFF;
    padding: 15px;   
    border: 1px dashed red;
}
.bg h3 {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
}
table.table td, table.table th {
    font-size: 12pt;
}
.announcement {
    background: #fffbfb;
    padding: 20px;
    border: 2px dashed red;
    margin-bottom: 25px;
    margin-top: -10px;
}

/*ul.timeline {
    margin: 0; padding: 0;
}
ul.timeline li {
    display: inline-flex;
    padding: 5px 15px;
    background: #FFF;
    border: 1px solid #555;
    margin-right: 5px;
}
ul.timeline li.done {
    background: green;
    color: #FFF;
    border: 1px solid green;
}
ul.timeline li.done i {
    margin-top: 4px;
}*/

div.done {
    background: #0fc70f;
    color: #FFF;
    border: 1px solid #0ca20c;
    padding: 10px 15px;
}
.red {
    color: red;
}
.exam_row {
    border: 1px solid #CCC;
    margin-bottom: 25px;
    padding: 20px;
    background: #FFF;
}
.exam_row p {
    margin: 5px;
    line-height: 1.2;
}
.enrolled {
    background: #fffef1;
}
.name2img {
    font-size: 20pt;
    background: #f1f1f1;
    height: 60px;
    width: 60px;
    padding-top: 6px;
    margin: 0 auto;
    text-align: center;
    border: 5px solid #dedede;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-weight: bold;
    color: #ababab;
}
.img-cercle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}


.progressbar-wrapper {
/*    background: #fff;*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.progressbar-wrapper .progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 16px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar-wrapper .progressbar li:before {
    width: 40px;
    height: 40px;
    content: "";
    line-height: 40px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.progressbar-wrapper .progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 20px;
    left: -50%;
    z-index: 0;
}

.progressbar-wrapper .progressbar li:first-child:after {
    content: none;
}

.progressbar-wrapper .progressbar li.active {
    color: green;
    font-weight: bold;
}

.progressbar-wrapper .progressbar li.active:before {
    border-color: #55b776;
    background: green;
}

.progressbar-wrapper .progressbar li.active + li:after {
    background-color: #55b776;
}

.progressbar-wrapper .progressbar li.active:before {
    background: #55b776 url(user.svg) no-repeat center center;
    background-size: 60%;
    color: white;
}

.progressbar-wrapper .progressbar li::before {
    background: #fff url(user.svg) no-repeat center center;
    background-size: 60%;
}

.progressbar-wrapper .progressbar {
    counter-reset: step;
    padding-top: 15px;
}

.progressbar-wrapper .progressbar li:before {
    content: counter(step);
    counter-increment: step;
}
#specialty_area {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 2px dotted #000;
}

.webcam_preview {
    text-align: center;
    background-color: #000;
}
.webcam_preview>div.inner {
    width: 400px;
    margin:  auto;
}
.fixedRightBar {
    position: fixed;
    top: 10px;
    padding-left: 20px;    
}

div.whatsapp_links {
    
}

div.whatsapp_links {
    background-color: #ffffff;
    border: 5px solid #0c991d;
    border-radius: 5px;
}
div.whatsapp_links .col-md-2 {
    background-color: #0db021;
}
div.whatsapp_links h2 {
    font-size: 13pt;
    color: #FFF;
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 2;
}

div.whatsapp_links ul { margin: 0; padding: 0; }
div.whatsapp_links ul li {  display: inline-block;     padding: 5px 15px 0 0; }
div.whatsapp_links ul li .fa-whatsapp {  color: #19ab1e; }
