@media only screen and (max-width: 1200px) {
    .tagLine {
        margin-top: 60px;
    }

    .header-phone h2 {
        font-size: 25px;
    }

    .navbar-primary .navbar-nav>li>a {
        padding: 0 22px;
    }

    .home-bottom h3 {
        font-size: 20px;
    }

    .causes-box h2 {
        font-size: 24px;
    }

    .footer-newsletter h1 {
        font-size: 30px;
    }

    .footer-contact a {
        font-size: 15px;
    }

    .navbar-primary .navbar-nav {
        padding-bottom: 15px;
        padding-top: 6px;
        margin-top: 8px;
    }

    .navbar-primary .navbar-nav>li>a {
        line-height: 35px;
    }

    .navbar-primary {
        margin-top: 20px;
    }


}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    ul.nav.navbar-nav>li a {
        padding: 10px;
    }

    .navbar-primary .navbar-nav {
        margin: 0;
        padding: 0;
    }

    .navbar-primary {
        min-height: 0;
    }

    .navbar-primary {
        margin-top: 0px;
    }

    .headers {
        padding: 15px 0px 15px
    }
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
    .navbar-primary .navbar-nav>li>a {
        padding: 0 19px;
    }

    .members-box h3 {
        min-height: 46px;
    }



}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .text-content {
        padding: 25px 75px;
    }

    .footer-middle .col-md-5 img {
        width: 28%;
    }

    .footer-social a {
        width: 28%;
        margin-right: 5px;
    }

    .footer-social a img {
        width: 100%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 981px) {
    .img-right {
        float: none;
        /* text-align: center;*/
    }

    .img-right img {
        /* display: inline-block;*/
        margin-bottom: 10px;
    }

    .page-content h2 {

        margin: 20px 0 15px;
    }

    a.donation {
        padding: 0 11px;
        margin-top: 14px;
        font-size: 14px;
    }

    .membership-bottom {

        background-position: -223% 1%;
    }


}

@media only screen and (max-width: 991px) {
    .navbar-primary .navbar-nav>li>a {
        font-size: 16px;
        padding: 0 10px;
    }

    .footer-newsletter .col-md-3 {
        margin-bottom: 10px;
    }

    .copyright .text-left,
    .copyright .text-right {
        text-align: center;
    }

    .header-phone {
        background-position: 0 50%;
    }

    .header-phone h4 {
        font-size: 18px;
    }

    .header-phone h2 {
        font-size: 17px;
    }

    .about-section2 {
        background-image: none;
        background-color: #c5ebf6;
    }

    .about-section3 img {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {

    .navbar-nav li:nth-last-child(2),
    .navbar-nav li:last-child {
        float: none;
    }

    div#myHeaderNavbar {
        margin-bottom: 10px;
    }

    .page-banner-mob {
        margin-bottom: 25px;
    }

    .page-content {
        padding-top: 0;
    }

    .tagLine {
        margin-top: 40px;
    }

    .header-right {
        margin-top: 20px;
    }

    .navbar-primary .navbar-nav {
        margin: 0;
        background-color: #6c00a1;
    }

    .navbar-primary .navbar-nav>li {
        display: block;
    }

    .navbar-primary .navbar-nav>li>a {
        line-height: 35px;
    }

    .navbar-primary {
        background-color: transparent;
    }

    .welcome-box {
        text-align: center;
    }

    .welcome-box h1 {
        font-size: 30px;
    }

    .welcome-box .img-responsive {
        display: inline-block;
    }

    .offer .img-responsive,
    .home-bottom .img-responsive {
        width: 100%;
    }

    .header-phone {
        background-image: none;
        padding-left: 0;
    }

    .header-phone h2 {
        font-size: 21px;
    }

    .navbar-primary .navbar-nav>li>a {
        border-right: 0;
    }

    .getinTouch .tel {
        padding-left: 1px;
    }

    .causes-box .container {
        background-position: 0 28px;
    }

    .about-section3 img.img-responsive {
        margin-bottom: 15px;
    }

    .about-section2,
    .information-section2,
    .causes-section1,
    .information-section4 {
        background-position: right center;
    }

    .contact-form {
        background-image: none;
        padding: 40px;
        background-color: #c5ebf6;
        padding-bottom: 0;
    }

    div#myNavbar {
        padding: 0;
    }

    .upcomingevents h1 {
        font-size: 20px;
    }

    .text-content {
        font-size: 19px;
        padding: 25px;
        line-height: 25px;
    }

    .event-box h1 {
        font-size: 27px;
        margin-top: 20px;
    }

    .img-right {
        float: none;
    }

    .page-content h2 {
        font-size: 20px;
        margin: 15px 0 15px;
    }

    a.donation {
        padding: 0 15px;
        margin-top: 14px;
        font-size: 15px;
    }

    .news-list h3 {
        font-size: 25px;
        margin: 15px 0 10px;
        padding-top: 10px;
    }

    .membership-bottom {
        background-image: none;
        word-break: break-all;
    }

    .contact-page a {
        font-size: 18px;
    }

    .header-btn-top {
        margin-right: 6px;
        margin-top: 14px;
    }

    .header-btn-top i,
    .header-btn-top a {
        margin-right: 5px;
    }

    i.fa.fa-phone {
        margin-right: 20px;
    }

    .header-btn-top {
        text-align: center;
    }
}

@media only screen and (max-width: 479px) {
    .footer-middle .col-md-5 img {
        margin-right: 8px;
        width: 28%;
        min-height: 84px;
    }

    a.donation {
        width: 100%;
    }


}